.Table {
    font-size: 30px;
    background-color: aquamarine;
    margin: 200px 40px;

}

h2 {
    margin-left: 20px;
    font-weight: bolder;
}

table {
    border-collapse: collapse;
    border: 5px solid black;
    background-color: white;
}



td,
th {
    border: 3px dotted black;
    text-align: left;
    padding: 8px;
    text-align: center;
}

th {
    border: 5px solid black;
    background-color: rgb(137, 87, 183);
}

td:first-child {
    background-color: rgb(200, 122, 122);
}

td:first-child+td {
    background-color: rgb(74, 156, 128);
}

td:first-child+td+td {
    background-color: salmon;
}

#last-td {
    background-color: white;
}